body {
    align-content: center;
    background-color:#807ab8;
}

.jumbotron {
    position: relative;
    padding: 0;
    background-color: white;
    text-align: center;
    margin: 25px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 1000px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

hr {
    margin: 15px;
}